extends layout.pug
include components/members_list.pug
block content
  h1='Api'
    h2='Url'
    p=content.api.uri
    h2='Version'
    p=content.status.data[0].status.version
  h1='Stats'
  table.table
    tr
      th='Created'
      th='Members'
      th='Posts'
      th='Comments'
    tr
      td='Last week'
      td=content.status.data[0].status.lastWeek.members
      td=content.status.data[0].status.lastWeek.posts
      td=content.status.data[0].status.lastWeek.comments
    tr
      td='Overall'
      td=content.status.data[0].status.overall.members
      td=content.status.data[0].status.overall.posts
      td=content.status.data[0].status.overall.comments
  h1='Admins'
  +pagination(content.members.offsets)
  +members_list(content.members)
  +pagination(content.members.offsets)